.selector-for-some-widget {
  	box-sizing: content-box;
}

.navbar {
	/*background-color: #002650;*/
	background-image: url(https://d9me64que7cqs.cloudfront.net/images/common/background-generic-landscape-short.31b43a7823e13c6383e5e613b04b5b58.jpg);

}

.navbar-brand {
	border: 1.5px solid white;
	width: 70px;
    text-align: center;
    /*font-size: 18px;*/
    font-weight: bold;
}

/*.navbar-nav li:first-of-type {
	margin-left: 100px;
	
}*/

.nav-link {
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 4px;	
}



.span-navbar{
	color: #ccd3dc;
}

.span-navbar:hover{
	color: #FFFFFF;
	
	/*outline-bottom: 1px solid white;*/
}

.dropdown-menu {
	background-color: #002650;
}

.dropdown-item {
	color: #ccd3dc;
}

.dropdown-item:hover {
	background-color: #ccd3dc;
}



.nav-link:hover  {
    
  border-bottom: 4px solid #D5BA5E;
  outline: 0;
  padding-bottom: 0px;
	
/*	box-shadow: 1px 5px 10px -5px black;
    transition: background-color 1s, transform 2s;*/
    transition: border-bottom 0.5s, transform 2s;
}

.addons-section {
	display: flex;
}

.addons-h1{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 90px;
	margin-bottom: 30px;
}

.card-title {
	text-align: center;
	font-weight: bold;

}

.dropdown-item {
	font-weight: bold;
}




.main-h1 {
	color: white;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 90px;
	margin-bottom: 30px;
}

.navbar {
	border-top: 3px solid #004f84;
	border-bottom: 3px solid #004f84;
	/*background-image: url(../img/menu.png);*/
	background-size: cover;
	
	
}

.dropdown-menu{
	
	color: #C0C0C0;
}



.addons-h5, .span-addons, .Capping-addons,
.FarmHud-addons {
	font-weight: bold;
}

.carousel {
	width: 50%;
	margin-left: 25%;
}

.BuyEmAll-h5 {
	font-size: 30px;
	font-weight: bold;
}

.carousel-Capping {
	margin-left: 35%;
}

.carousel-Capping {
	width: 30%;
	margin-left: 35%;
}

.carousel-FarmHud {
	width: 30%;
	margin-left: 35%;
}

.span-FarmIt, .span-GetherMate {
	font-weight: bold;
}

.FarmIt-h5 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.addons-numbers {
	font-weight: bold;
}

.Hyperspawn-addons {
	text-decoration: underline;
}

.footer {
	display: block;
	height: 200px;
	border-top: 1px solid black;
	
	background-image: url(https://d9me64que7cqs.cloudfront.net/images/common/background-generic-landscape-short.31b43a7823e13c6383e5e613b04b5b58.jpg);
	color: white;
	padding-top: 100px;
	text-align: center;
}

.main_page {
	min-height: 100vh;
	border: 3px solid black;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position: center center;
}