* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: $color-light !important;
}

.active {
  background-color: $color-dark;
}


.main_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.dropdown-menu {
  background-color: #002650;
}

.dropdown-item {
  color: #ccd3dc;
}

.dropdown-item:hover {
  background-color: #ccd3dc;
}





.addons-section {
  display: flex;
}

.addons-h1 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 90px;
  margin-bottom: 30px;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.dropdown-item {
  font-weight: bold;
}

.main-h1 {
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 90px;
  margin-bottom: 30px;
}


.dropdown-menu {
  color: #c0c0c0;
}

.addons-h5,
.span-addons,
.Capping-addons,
.FarmHud-addons {
  font-weight: bold;
}

.carousel {
  width: 50%;
  margin-left: 25%;
}

.BuyEmAll-h5 {
  font-size: 30px;
  font-weight: bold;
}

.carousel-Capping {
  margin-left: 35%;
}

.carousel-Capping {
  width: 30%;
  margin-left: 35%;
}

.carousel-FarmHud {
  width: 30%;
  margin-left: 35%;
}

.span-FarmIt,
.span-GetherMate {
  font-weight: bold;
}

.FarmIt-h5 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.addons-numbers {
  font-weight: bold;
}

.Hyperspawn-addons {
  text-decoration: underline;
}



/*Расписание фарма*/

.timetable {
  min-height: 100vh;
  border-top: 3px solid #004f84;
}

table,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.table1 {
  margin: 20px auto;
  width: 75%;
}

td {
  width: 10%;
  height: 50px;
}

table,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.colspan_5_6 {
  height: 200px;
}



.td_size_farm {
  width: 10%;
  height: 50px;
  text-align: center;
  font-weight: bold;
}

.timetable-h1 {
  color: black;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 90px;
  margin-bottom: 30px;
}

.timetable_date {
  text-align: center;
  font-weight: bold;
}

.td_size_farm_weak {
  width: 10%;
  height: 50px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.alliance {
  background-image: url(../img/alliance1.png);
  background-size: 29%;
  background-position: center center;
  background-repeat: no-repeat;
}

.horde {
  background-image: url(../img/horde1.png);
  background-size: 24%;
  background-position: center center;
  background-repeat: no-repeat;
}

/*ПОДУМАЙ!!!*/
/*.alliance {
	background-image: url(../../../img/alliance.png);
	background-color: black;
}*/

/*расписание*/
.skill {
  padding: 10px 10px 10px 10px;
}

.skills_container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "a1 a2" "a1 a2";
  padding-bottom: 40px;
}

.skill-item {
  min-height: calc(80vh - 12px);
  background-color: #2d3651;
  position: relative;
  overflow: hidden;
}

.skill-item:nth-of-type(1) {
  grid-area: a1;
}

.skill-item:nth-of-type(2) {
  grid-area: a2;
}

.skill-item__overlay {
  background-color: #2d3651;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.6;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.skill-item__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.skill-item:hover .skill-item__image {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.skill-item__title {
  position: relative;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

.skill-item__title a {
  text-decoration: none;
}

.skill-item__link {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  font-size: 20px;
}

.skill-item:hover .skill-item__link {
  color: #d53d27;
}

.skills_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.slideRight {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes slideRight {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes slideLeft {
  0% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}
